<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/share/header :: header}">

</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        width: 14%;
        height: 50px;
        text-align: center;
        cursor: pointer;
    }

    .marked {
        background: red;
        color: white;
    }

    .selected {
        background: blue;
        color: white;
    }

    .action-table {
        margin-top: 20px;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid black;
    }

    #calendar-body td:hover {
        background-color: lightblue;
    }

    #month-year {
        font-size: 1.2rem;
    }

    td {
        height: 50px;
        vertical-align: middle;
    }

    td.marked {
        background-color: #e30e0e;
        /* Màu vàng nhạt */
        color: #fff;
        /* Chữ trắng */
        font-weight: bold;
    }

    .form-group>div {
        flex: 1;
    }

    .form-group>div:first-child {
        margin-right: 10px;
    }

    #table-action-note-book>thead th {
        position: sticky;
        /* Cố định tiêu đề */
        top: 0;
        /* Đặt ở đầu bảng */
        background: #f1f1f1;
        z-index: 500;
        /* Đảm bảo nằm trên các hàng */
    }

    .table-scoll {
        max-height: 400px;
        /* Giới hạn chiều cao */
        overflow-y: auto;
        /* Kích hoạt thanh cuộn dọc */
        overflow-x: auto;
    }
</style>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div th:replace="~{/share/menu-left :: nav-left}">
        </div>
        <div class="content">
            <nav th:replace="~{/share/header-top :: header-top}"></nav>
              
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4" style="padding-bottom: 10px;">
                    <div class="col-4 col-md-4">
                        <div class="form-group">
                            
                            <label for="categorytimeLine" class="font-weight-bold">Chọn thời gian</label>
                            <select id="categorytimeLine" class="form-control">
                                <th:block th:each="item :${timeLine}">
                                    <option th:value="${item.id}" th:text="${item.nameTimeLine}">
                                    </option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="form-group">
                            <label for="categoryTimeSheet" class="font-weight-bold">Chọn tiết dạy </label>
                            <select id="categoryTimeSheet" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table action-table">
                            <thead style="background: #ffffff;">
                                <tr style="text-align: center;">
                                    <th style="display: none;"> uid</th>
                                    <th style="display: none;"> id</th>
                                    <th>Thứ</th>
                                    <th>Tiết dạy</th>
                                    <th>Lớp</th>
                                    <th>Nơi dạy</th>
                                    <th>Môn học</th>
                                    <th>Giáo viên</th>
                                </tr>
                            </thead>
                            <tbody id="action-table-body-view">
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="categoryUser" class="font-weight-bold">Tên bài dạy</label>
                            <input type="text" class="form-control" name="lessonTopic" id="lessonTopic"
                                placeholder="Nhập tên bài giảng">
                                <span class="span-error"></span>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="categoryUser" class="font-weight-bold">Số học sinh có lỗi về học tập hoặc nề
                                nếp</label>
                            <input type="number" class="form-control" name="studentErrorCount" id="studentErrorCount"
                                placeholder="Số lượng học sinh mắc lỗi">
                                <span class="span-error"></span>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="categoryUser" class="font-weight-bold">Họ tên HS có lỗi về học tập hoặc nề nếp
                                (ghi rõ lỗi, lớp chủ nhiệm)</label>
                            <textarea type="text" class="form-control" name="detailErrorStudent" id="detailErrorStudent"
                                placeholder="Họ tên HS có lỗi về học tập hoặc nề nếp (ghi rõ lỗi, lớp chủ nhiệm)"></textarea>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="categoryUser" class="font-weight-bold">Nhận xét chung - Những điểm cần tuyên
                                dương lớp</label>
                            <input type="text" class="form-control" name="generalComment" id="generalComment"
                                placeholder="Nhận xét chung - Những điểm cần tuyên dương lớp">
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="categoryUser" class="font-weight-bold">Điểm đánh giá tiết học</label>
                            <input type="number" class="form-control" name="lessonEvaluation" id="lessonEvaluation"
                                placeholder="Điểm đánh giá tiết học">
                                <span class="span-error"></span>
                        </div>
                    </div>

                    <div class="col-4 col-md-4">
                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" name="isTrain" id="isTrain">
                            <label class="form-check-label" for="isTrain">Đã dạy</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <button id="submit-add" type="button" class="btn btn-success m-3"
                            style="margin: 0 !important;">Lưu</button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="form-group d-flex  justify-content-between">
                            <h6 class="mb-4 no-margin" style="color: black;">Kết quả ký sổ</h6>
                            <button id="submit-data" type="button" class="btn btn-success m-3 no-margin" >Lưu tất cả</button>
                        </div>

                        <form id="selectedDataForm" th:action="@{/ky-so-dau-bai}" method="post" style="display:none;">
                            <input type="hidden" id="dataInput" name="data" />

                        </form>
                        <div class="table-responsive table-scoll" style="overflow-x:auto">
                            <table class="table action-table" id="table-action-note-book">
                                <thead>
                                     <tr style="text-align: center;">
                                        
                                        <th style="display: none;"> isTrain</th>
                                        <th style="display: none;"> id notebook</th>
                                        <th style="display: none;"> id timeSheet</th>
                                        <th style="min-width: 100px;">Thứ</th>
                                        <th style="min-width: 200px;">Tiết dạy</th>
                                        <th style="min-width: 100px;">Lớp</th>
                                        <th style="min-width: 200px;">Nơi dạy</th>
                                        <th style="min-width: 200px;">Môn học</th>
                                        <th style="min-width: 250px;">Giáo viên</th>
                                        <th style="min-width: 300px;">Tên bài giảng</th>
                                        <th style="min-width: 100px;">Số học sinh lỗi</th>
                                        <th style="min-width: 400px;">Chi tiết lỗi</th>
                                        <th style="min-width: 400px;">Nhận xét chung</th>
                                        <th style="min-width: 100px;">Điểm đánh giá</th>
                                        <th style="min-width: 150px;">Trạng thái</th>
                                        <th style="min-width: 150px;">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="action-table-body" style="text-align: center">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script th:src="@{/js/note-book/note-book.js}">
</script>

<th:block th:replace="~{/share/footer :: footer}"></th:block>

</html>